<%= form_for :Activity, url: '/activities' do |f|%>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :desc %><br>
        <%= f.text_area :desc %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>