<script language="javascript">
    var obj;
    function mapInit(lng,lat,id){
        obj = new AMap.Map("map"+id,{
            center:new AMap.LngLat(lng,lat),
            level:17
        });

        var buildings = new AMap.Buildings();
        buildings.setMap(obj);
    }
</script>
<body>
<p><%=@activity.id %></p>
<p><%=@activity.title %></p>
<p><%=@activity.desc %></p>
<%@activity.locations.each { |loc|  %>
    <p><%=loc.id %></p>
    <p><%=loc.title %></p>
    <p><%=loc.latitude %></p>
    <p><%=loc.longitude %></p>
    <div id="map<%=loc.id%>" style="width:659px;height:400px;resize:both;"></div>
    <script>mapInit(<%=loc.longitude%>,<%=loc.latitude%>,<%=loc.id%>);</script>
<%} %>
</body>
